<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>My Recipes</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let recipe of recipes" [routerLink]="['./recipe-detail', recipe.id]">
      <ion-avatar slot="start">
        <ion-img [src] = "recipe.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label> {{recipe.recipeName }}</ion-label>
    </ion-item>
  </ion-list>


  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
